@{
    ViewBag.Title = "About us";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<body>
    <div class="bread-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <ol class="breadcrumb">
                        <li><a href="">Home</a></li>
                        /
                        <li class="active">About Us</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <h2>ABOUT MYLAUNDRY</h2>
            <br />
            <p>
                <strong>MyLaundry is an On-Demand Laundry and Dry-Cleaning service company, presently operating in Vietnam.</strong>
                We provide an affordable and convenient way of getting your laundry done right at your finger-tips.
                We offer the best online laundry service and help you get rid of those extra pile of dirty clothes and deliver you fresh clothes.
            </p>
        </div>

    </div>
</body>
