@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="bread-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="">Home</a></li>
                    /
                    <li class="active">Contact Us</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <h2>Contact Information</h2>
        <br />
        <div>
            <h4>Our Address</h4>
            <div>
                590 Cách Mạng Tháng Tám, Phường 11, Quận 3, Hồ Chí Minh, Việt Nam
            </div>
            <br />
            <h4>Phone Number</h4>
            <div>+84123456789</div>
            <br />
            <h4>Email</h4>
            <div>support@mylaundry.com</div>
        </div>
    </div>
</div>