@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="bread-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="">Home</a></li>
                    /
                    <li class="active">Pricing</li>
                </ol>
            </div>
        </div>
    </div>
</div>

@*header*@
<div class="container">
    <div class="top-head-space">
        <div class="row">
            <div class="col-md-12">
                <div class="contact_info2">
                    <h3 class="w3ls-title text-center text-capitalize pb-md-5 pb-4">MyLaundry Pricing Options</h3>
                    <div class="about-cont-space">
                        <p>
                            <strong>MyLaundry</strong> offer you a 5-star Laundry service at the best affordable price.
                            Here’s the list and details of pricing of each clothing item. We also have various customized packages that will help you meet your requirements.
                        </p>
                    </div>
                </div>

            </div>
            <div class="clearfix" style="text-align: justify;">&nbsp;</div>
        </div>
    </div>
</div>
<br />
<br />

<div class="container">
    <ul class="nav nav-tabs font_color" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pieces-tab" data-toggle="tab" href="#price_pieces" role="tab" aria-controls="pieces" aria-selected="true">Clothes by pieces wise</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="kg-tab" data-toggle="tab" href="#price_kg" role="tab" aria-controls="kg" aria-selected="false">Bunch of cloth weight wise</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="month-tab" data-toggle="tab" href="#price_month" role="tab" aria-controls="month" aria-selected="false">Package for a month wise</a>
        </li>
    </ul>
    <br />
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="price_pieces" role="tabpanel" aria-labelledby="pieces-tab">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="~/Content/template/images/jeans-icon.png" class="card-img-top" alt="Jeans" />
                            <div class="card-body">
                                <h5 class="card-title">Jeans</h5>
                                <p class="card-text">PRICE: 5$/piece</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="~/Content/template/images/Kurta.png" class="card-img-top" alt="Kurta" />
                            <div class="card-body">
                                <h5 class="card-title">Kurta</h5>
                                <p class="card-text">PRICE: 5$/piece</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="~/Content/template/images/pant-trouser-icon.png" class="card-img-top" alt="Pant" />
                            <div class="card-body">
                                <h5 class="card-title">Pant</h5>
                                <p class="card-text">PRICE: 5$/piece</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="~/Content/template/images/pyjama-icon.png" class="card-img-top" alt="Pyjama" />
                            <div class="card-body">
                                <h5 class="card-title">Pyjama</h5>
                                <p class="card-text">PRICE: 5$/piece</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="~/Content/template/images/salwaar.png" class="card-img-top" alt="Salwaar" />
                            <div class="card-body">
                                <h5 class="card-title">Salwaar</h5>
                                <p class="card-text">PRICE: 5$/piece</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="~/Content/template/images/shirt-icon.png" class="card-img-top" alt="Shirt" />
                            <div class="card-body">
                                <h5 class="card-title">Shirt</h5>
                                <p class="card-text">PRICE: 5$/piece</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="~/Content/template/images/short-icon.png" class="card-img-top" alt="Short" />
                            <div class="card-body">
                                <h5 class="card-title">Short</h5>
                                <p class="card-text">PRICE: 5$/piece</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="~/Content/template/images/t-shirt-icon.png" class="card-img-top" alt="T-Shirt" />
                            <div class="card-body">
                                <h5 class="card-title">T-Shirt</h5>
                                <p class="card-text">PRICE: 5$/piece</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="price_kg" role="tabpanel" aria-labelledby="kg-tab">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>KG LAUNDRY (Per KG 20)</h3>
                        <hr />
                        <p><span style="color:#662D91">* Includes all bed covers, sheets, table cloth, towels, etc</span></p>
                        <p><span style="color:#662D91">* Delivery charge of Rs.49 applicable for all orders</span></p>
                        <p><span style="color:#662D91">* Does not include accessories like ties, caps etc</span></p>
                        <p><span style="color:#662D91">* Does not include soft toys, Curtains, Sofa Covers etc</span></p>
                        <p><span style="color:#662D91">* All the prices mentioned above are exclusive of GST</span></p>
                    </div>


                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="price_month" role="tabpanel" aria-labelledby="month-tab">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p><span style="color:#662D91">* You can select a package for a month, in that no of Pisces are fixed. Just 39 usd per month</span></p>
                        <hr />
                    </div>


                </div>
            </div>

        </div>
    </div>
    <br />

</div>
<!-- //pricing -->